.documentation {
    // display: flex;
    // flex-direction: row;
    // overflow: hidden;
    // flex-wrap: wrap;

    // @include respond(tab-port) {
    //     flex-direction: column;
    // }

    // &__navigation, &__footer {
    //     flex: 1 100%;
    // }

    // &__navbar {
    //     flex: 2.5;
    // }

    // &__content {
    //     padding: 2rem 4rem;
    //     flex: 7.5;
    // }

    // @include respond(tab-port) {
    //     &__navbar {
    //         position: fixed;
    //         display: block;
    //         top: 0;
    //         left: 0;
    //         height: 100%;
    //         overflow-y: auto;
    //         transform: translateX(-300rem);
    //     }

    //     &__content {
    //         flex: 1;
    //         padding: 2rem 4rem;
    //         max-width: 100vw;
    //     }

    // }

    @include respond(tab-port) {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex-wrap: wrap;
    }

    &__navigation {
        @include clearfix;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    &__footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    &__navbar {
        float: left;
        width: 25%;
        height: 100%;

        position: fixed;
    }

    &__content {
        float: left;
        width: 75%;
        padding: 2rem 4rem;

        position: absolute;
        right: 0;
        top: 5rem;
    }

    @include respond(tab-port) {
        &__navigation, &__footer {
            position: unset;
            z-index: inherit;
            bottom: unset;
        }

        &__navigation {
            position: fixed;
        }

        &__navbar {
            float: none;
            width: unset;
            position: fixed;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            overflow-y: auto;
            transform: translateX(-300rem);
        }

        &__content {
            float: none;
            width: unset;
            position: unset;
            flex: 1;
            padding: 2rem 4rem;
            max-width: 100vw;
            margin-top: 5rem;
        }

    }
}
